<div id="attachments-uploader-modal" class="modal hidden">
    <div class="modal__content">
        <span class="modal__close" role="close">&times;</span>
        <div class="modal-header">
            <h2 class="modal-title">{{ 'Upload attachments' }}</h2>
        </div>
        <div class="modal-body">
            <form id="attachments-uploader-form" method="post" enctype="multipart/form-data">
            {% for requiredAttachment in requiredAttachments %}
            <div class="filepond-file-label">
                <label for="attachments-input-{{ requiredAttachment.type }}">{{ requiredAttachment.label }}</label>
            </div>
            <input type="file" data-file-type="{{ requiredAttachment.type }}" name="fileUpload" class="filepond-file-input" id="attachments-input-{{ requiredAttachment.type }}">
            {% endfor %}
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" role="close" class="button button--primary" id="attachments-uploader-submit">{{ __('Close') }}</button>
        </div>
    </div>
</div>