<div class="error-message {% if stillAvailable %}hidden{% endif %}" >{{ errorMessage }}</div>
<div class="shipping-rate-estimated-delivery">Estimated delivery date : {{ shippingRate.deliveryDate }}</div>
<div class="shipping-rate-pickup-date">Pickup date : {{ shippingRate.pickupDate }}</div>
<button type="button" id="hges-change-shipping-rate-button" data-item-id="{{ itemId }}">{{ __('Change shipping option') }}</button>
<button type="button" id="hges-uploads-attachments-button" for="attachments-uploader-modal">{{ __('Upload required attachments') }}</button>
{% if shippingRate.requiredAttachments|length > 0 %}
<div>
    <h3>{{ __('Required attachments') }}</h3>
    <div>
        <p>{{ attachments|length }}/{{ shippingRate.requiredAttachments|length }}</p>
        <ul class="attchments-preview">
            {% for attachment in attachments %}
                <li><span class="marker-green dashicons dashicons-yes-alt"></span> {{ attachment.label }}</li>
            {% endfor %}
            {% for remainingAttachment in remainingAttachments %}
                <li><span class="marker-red dashicons dashicons-marker"></span> {{ remainingAttachment.label }}</li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endif %}

<div id="hges-shipping-rate-modal" class="modal hidden">
    <div class="modal__content">
        <span class="modal__close">&times;</span>
        <div class="modal__header">
            <h2 class="modal__title">{{ __('Choose your shipping option') }}</h2>
        </div>
        <div class="modal__body">
            <div class="shipping-rate-list">

            </div>
        </div>
        <div class="modal__footer">
            <button type="button" id="hges-update-shipping-rate-modal-button">{{ __('Update') }}</button>
            <div class="warning">
                <p>{{ __('Updating the shipping method will reload the page. Ensure that all your modification have been saved before performing this action !') }}</p>
            </div>
        </div>
    </div>
</div>