<div id="HGeS_product_tab_options" class="panel woocommerce_options_panel">
    <p class="form-field">
        <label for="{{ hgesProductMeta('NUMBER_OF_BOTTLE') }}">{{ __('Number of bottle') }}</label>
        <input
            type="number"
            class="short"
            id="{{ hgesProductMeta('NUMBER_OF_BOTTLE') }}"
            name="{{ hgesProductMeta('NUMBER_OF_BOTTLE') }}"
            value="{{ productMeta[hgesProductMeta('NUMBER_OF_BOTTLE')] }}"
            min="1"
            step="1"
        />
        <span class="description">{{ __('Quantity of bottle per product') }}</span>
    </p>

    <p class="form-field">
        <label for="{{ hgesProductMeta('SIZE_OF_BOTTLE') }}">{{ __('Size of bottle') }}</label>
        <select id="{{ hgesProductMeta('SIZE_OF_BOTTLE') }}" name="{{ hgesProductMeta('SIZE_OF_BOTTLE') }}" class="short">
            <option value="bottle" {{ productMeta[hgesProductMeta('SIZE_OF_BOTTLE')] == 'bottle' ? 'selected' : '' }}>750ml (Standard)</option>
            <option value="magnum" {{ productMeta[hgesProductMeta('SIZE_OF_BOTTLE')] == 'magnum' ? 'selected' : '' }}>1500ml (Magnum)</option>
        </select>
    </p>

    <p class="form-field">
        <label for="{{ hgesProductMeta('TYPE') }}">{{ __('Type') }}</label>
        <select id="{{ hgesProductMeta('TYPE') }}" name="{{ hgesProductMeta('TYPE') }}" class="short">
            <option value="" >{{ __('Select a type') }}</option>
            <option value="still" {{ productMeta[hgesProductMeta('TYPE')] == 'still' ? 'selected' : '' }}>{{ __('Still wine') }}</option>
            <option value="sparkling" {{ productMeta[hgesProductMeta('TYPE')] == 'sparkling' ? 'selected' : '' }}>{{ __('Sparkling wine') }}</option>
            <option value="spirit" {{ productMeta[hgesProductMeta('TYPE')] == 'spirit' ? 'selected' : '' }}>{{ __('Spirit') }}</option>
            <option value="nonAlcoholic" {{ productMeta[hgesProductMeta('TYPE')] == 'nonAlcoholic' ? 'selected' : '' }}>{{ __('Non Alcoholic') }}</option>
        </select>
    </p>

    <p class="form-field wine-form-field">
        <label for="{{ hgesProductMeta('COLOR') }}">{{ __('Color') }}</label>
        <select id="{{ hgesProductMeta('COLOR') }}" name="{{ hgesProductMeta('COLOR') }}" class="short">
            <option value="" >{{ __('Select a color') }}</option>
            <option value="red" {{ productMeta[hgesProductMeta('COLOR')] == 'red' ? 'selected' : '' }}>{{ __('Red') }}</option>
            <option value="white" {{ productMeta[hgesProductMeta('COLOR')] == 'white' ? 'selected' : '' }}>{{ __('White') }}</option>
            <option value="rose" {{ productMeta[hgesProductMeta('COLOR')] == 'rose' ? 'selected' : '' }}>{{ __('Rosé') }}</option>
            <option value="spirits" {{ productMeta[hgesProductMeta('COLOR')] == 'spirits' ? 'selected' : '' }}>{{ __('Spirits') }}</option>
            <option value="beer" {{ productMeta[hgesProductMeta('COLOR')] == 'beer' ? 'selected' : '' }}>{{ __('Beer') }}</option>
        </select>
    </p>

    <p class="form-field wine-form-field">
        <label for="{{ hgesProductMeta('CAPACITY') }}">{{ __('Capacity') }}</label>
        <input
            type="number"
            class="short"
            id="{{ hgesProductMeta('CAPACITY') }}"
            name="{{ hgesProductMeta('CAPACITY') }}"
            value="{{ productMeta[hgesProductMeta('CAPACITY')] }}"
            min="1"
            step="1"
        />
    <span class="description">{{ __('Capacity of a single product (in mL)') }}</span>
    </p>
    
    <p class="form-field wine-form-field">
        <label for="{{ hgesProductMeta('ALCOHOL_PERCENTAGE') }}">{{ __('Alcohol percentage') }}</label>
        <input
            type="number"
            class="short"
            id="{{ hgesProductMeta('ALCOHOL_PERCENTAGE') }}"
            name="{{ hgesProductMeta('ALCOHOL_PERCENTAGE') }}"
            value="{{ productMeta[hgesProductMeta('ALCOHOL_PERCENTAGE')] }}"
            min="1"
            step="0.1"
        />
    </p>

    <p class="form-field wine-form-field">
        <label for="{{ hgesProductMeta('VINTAGE_YEAR') }}">{{ __('Vintage Year') }}</label>
        <input
            type="number"
            class="short"
            id="{{ hgesProductMeta('VINTAGE_YEAR') }}"
            name="{{ hgesProductMeta('VINTAGE_YEAR') }}"
            value="{{ productMeta[hgesProductMeta('VINTAGE_YEAR')] }}"
            min="1900"
            max= "{{ 'now'|date('Y') }}"
            step="1"
        />
    </p>

    <p class="form-field wine-form-field">
        <label for="{{ hgesProductMeta('PRODUCING_COUNTRY') }}">{{ __('Producing country') }}</label>
        <select id="{{ hgesProductMeta('PRODUCING_COUNTRY') }}" name="{{ hgesProductMeta('PRODUCING_COUNTRY') }}" class="short">
            {% for code, country in producingCountries %}
                <option value="{{ code }}" {{ code == productMeta[hgesProductMeta('PRODUCING_COUNTRY')] ? 'selected' : '' }}>
                    {{ country }}
                </option>
            {% endfor %}
        </select>
    </p>

    <p class="form-field wine-form-field">
        <label for="appellation-select-field">{{ __('Appellation') }}</label>
        <select id="appellation-select-field" data-saved-value="{{ productMeta[hgesProductMeta('APPELLATION')] }}" class="short"></select>
    </p>

    <p class="form-field">
        <textarea name="{{ hgesProductMeta('APPELLATION') }}" id="{{ hgesProductMeta('APPELLATION') }}" />{{ productMeta[hgesProductMeta('APPELLATION')] }}</textarea>
    </p>

    <p class="form-field">
        <label for="appellation-select-field">{{ __('HS Code') }}</label>
        <input type="text" name="{{ hgesProductMeta('HS_CODE') }}" id="{{ hgesProductMeta('HS_CODE') }}" value="{{ productMeta[hgesProductMeta('HS_CODE')] }}" class="short"/>
    </p>

    
    

    <div id="error-container"></div>

</div>