{% if metaData.firstDoorDelivery %}
    <h3>{{ __('Door Delivery') }}</h3>
{% elseif metaData.firstPickupDelivery %}
   <h3>{{ __('Pickup Delivery') }}</h3>
{% elseif metaData.firstOthersDelivery %}
   <h3>{{ __('Other Shipping Method') }}</h3>
{% endif %}
<div class="hges-shipping-method" >
    <div class="hges-shipping-method-left">
        {% if metaData.carrierName != null %}
        <div class="hges-shipping-logo">
            <img src="{{ assetsPath }}" alt="Hillebrand Gori Eshipping" />
        </div>
        {% endif %}
        <div class="hges-shipping-info">
            <div class="hges-shipping-label">
                {{ label }}
            </div>
            {% if metaData.deliveryDate %}
                <div class="hges-shipping-delivery">
                    {{ __('Estimated delivery: ') }} {{ metaData.deliveryDate }}
                </div>
                {% if metaData.doorDelivery is same as "" %}
                    <div id="pickup-point-button" class="pickup-point-button" onclick="openModal(event)">
                        <span >{{ __('Choose your pickup point') }}</span>
                    </div>
                {% endif %}
            {% endif %}
        </div>
    </div>

    <div class="hges-shipping-price">
        {{ cost|raw }}
    </div>
</div>
