{% if metaData.firstDoorDelivery %}
    <h5>{{ __('Door Delivery') }}</h5>
{% elseif metaData.firstPickupDelivery %}
   <h5>{{ __('Pickup Delivery') }}</h5>
{% elseif metaData.firstOthersDelivery %}
   <h5>{{ __('Other Shipping Method') }}</h5>
{% endif %}
<div class="hges-shipping-method" id="shipping-rate-{{ metaData.checksum }}" data-checksum="{{ metaData.checksum }}">
    <div class="hges-shipping-method-left">
        {% if metaData.carrier != null %}
        <div class="hges-shipping-logo">
            <img src="{{ imagePath }}" alt="Hillebrand Gori Eshipping" />
        </div>
        {% endif %}
        <div class="hges-shipping-info">
            <div class="hges-shipping-label">
                {{ label }}
            </div>
            {% if metaData.deliveryDate %}
                <div class="hges-shipping-delivery">
                    {{ __('Estimated delivery: ') }} {{ metaData.deliveryDate }}
                </div>
            {% endif %}
        </div>
    {% if metaData.deliveryMode is same as "pickup" %}
        <div id="selected-pickup-point" class="selected-pickup-point hidden">
            <div id="pickup-point-button" class="pickup-point-button" onclick="openModal(event)">
                <span >{{ __('Choose your pickup point') }}</span>
            </div>
            <strong>{{ __('Selected pickup point:') }}</strong>
            <span id="selected-pickup-point-name"></span><span id="selected-pickup-point-address"></span>
        </div>
    {% endif %}
    </div>


    <div class="hges-shipping-price">
        {{ cost|raw }}
    </div>
</div>
