<p class="form-field">
    <label for="_variation_quantity_{{ index }}">
        {{ translate('Quantity') }}
    </label>
    <input
    type="number"
    class="short"
    id="variation_quantity_{{ index }}"
    name="_variation_quantity[{{ index }}]"
    value="{{ value }}"
    min="1"
    step="1"
    />
    <span class="description">{{ translate('Quantity of bottle per variation of the product') }}</span>
</p>